
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: black;
  --mainColorLight: rgb(53, 51, 51);
  --secondaryColor: rgb(88, 84, 84);
  --textColor: white;
  --toastify-color-dark: #121212;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100%;
  background-color: rgb(250, 250, 250);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

form button {
  border: none;
  padding: 15px 32px;
  margin: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(245, 239, 239);
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form button:hover {
  background-color: gray;
}



form input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgb(236, 230, 230);
  padding: 12px;
  margin-top: 12px;
  border-radius: 3px;
  width: 80%;
  font-size: 14px;
}


.swiper {
  width: 100%;
  height: 75vh;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}